# Entorno virtual
venv/

# Archivos compilados
__pycache__/
*.pyc

# Base de datos SQLite
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Config de IDE
.vscode/
.idea/
