<!DOCTYPE html>
<html>
<head>
    <title>Lista de Pedidos</title>
</head>
<body>
    <h1>Pedidos Realizados</h1>

    <ul>
        {% for pedido in pedidos %}
            <li>
                <strong>ID:</strong> {{ pedido.id }} —
                <strong>Cliente:</strong> {{ pedido.nombre_cliente }}
                <br>
                <strong>Estado:</strong> {{ pedido.estado }} <br>
                <strong>Pizzas:</strong>
                <ul>
                    {% for detalle in pedido.pedidopizza_set.all %}
                        <li>{{ detalle.pizza.nombre }} × {{ detalle.cantidad }}</li>
                    {% endfor %}
                </ul>
                <hr>
            </li>
        {% empty %}
            <li>No hay pedidos.</li>
        {% endfor %}
    </ul>

    <a href="/pizzas/">Volver</a>
</body>
</html>
